<ion-view  align-title="left"  id="page1">
  <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
    <div class="hero no-header flat">
      <div class="content">
        <div class="app-icon"></div>
        <h1>Locator</h1>
        <h5>Azertyuiop</h5>
      </div>
    </div>
    <form method="post">
    <div class="list">
      <ion-md-input placeholder="Email" highlight-color="stable" type="text" ng-model="data.email"></ion-md-input>
      <ion-md-input placeholder="Password" highlight-color="energized" type="password"ng-model="data.pass"></ion-md-input>
    </div>

    <div class="padding">
      <button ng-click="signIn()" class="button button-full button-assertive ink" type="submit">Login</button>

      <a ng-click="openModal(2)" style="font-family: 'Calibri Light';font-size: larger"> Don't have an account ?</a>
    </div>
    </form>
    <div class="button-bar social-login">
      <button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
      <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
      <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
    </div>


  <script id="my-modal.html" type="text/ng-template">
    <ion-modal-view view-title="Profile">
      <ion-header-bar class="bar-dark">


        <button class="button button-dark button-stable" ng-click="closeModal(1)">back</button>
        <h1 class="title">MyGroups</h1>
      </ion-header-bar>

      <ion-content ng-class="{expanded:isExpanded}">
        <div class="tabs tabs-dark tabs-icon-top static">
          <a  class="tab-item">
            <i class="icon ion-android-people"></i> Groups
          </a>
          <a ng-click="openModal(3)" class="tab-item">
            <i class="icon ion-android-add"></i> Groups
          </a>
        </div>
        <h4 class="content padding double-padding-x">Following</h4>
        <div class="list animate-fade-slide-in-right">
          <a class="item item-avatar item-icon-right"  ng-repeat=" x  in Groups | orderBy :'name' " ng-click="openModal(4)">
            <img src="img/tyrion.jpg">
            <h2>{{x.name}}</h2>
            <h3>{{x.grpId}}</h3>
            <i class="icon ion-android-checkmark-circle"></i>
          </a>
          </div>
            </div>
      </ion-content>
      <ion-footer-bar>
        <button class="button button-ful   icon-left ion-android-cancel button-assertive-900" ng-click="signOut()">SignOut()</button>
      </ion-footer-bar>
    </ion-modal-view>


  </script>

  <script id="my-modal2.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar-assertive">

        <h1 class="title">sign up </h1>
        <button class="button button-dark button-stable" ng-click="closeModal(2)">back</button>
      </ion-header-bar>
      <div class="spacer" style="height: 70px;"></div>
      <div>

        <form class="list" autocomplete="on">
          <ion-list>
            <label class="item item-input">
              <span class="input-label">Username</span>
              <input id="autocomplete" type="text" ng-model="data.username" required="required">
            </label>
            <label class="item item-input">
              <span class="input-label">Email</span>
              <input type="email" ng-model="data.email" required="required">
            </label>
            <label class="item item-input">
              <span class="input-label">Password</span>
              <input type="password" ng-model="data.password" required="required">
            </label>
            <label class="item item-input">
              <span class="input-label">Password</span>
              <input type="password" ng-model="data.password1" required="required" placeholder="Confirm your password">
            </label>

            <button id="sInscrire-button6" class="button button-stable  button-block hide-on-keyboard-open"
                    ng-click="signUp()">sign up
            </button>
          </ion-list>
        </form>
      </div>
    </ion-modal-view>
  </script>

    <script id="my-modal3.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar-assertive">
          <h1 class="title">AddGroup</h1>
          <button class="button button-dark button-stable" ng-click="closeModal(3)">back</button>
        </ion-header-bar>

        <div class="spacer" style="height: 70px;"></div>
        <div>

          <form class="list" autocomplete="on">
            <ion-list>
              <label class="item item-input">
                <span class="input-label">Name</span>
                <input id="user" type="text" ng-model="data.groupName" required="required">
              </label>
              <button id="addG" class="button button-stable button-block hide-on-keyboard-open"
                      ng-click="addGroup()">Add
              </button>
            </ion-list>
          </form>
        </div>
      </ion-modal-view>
    </script>

    <script id="my-modal4.html"  type="text/ng-template">

      <ion-modal-view view-title="Friends">
        <ion-header-bar class="bar-dark">

          <h1 class="title">Group Members</h1>
          <button class="button button-dark button-stable" ng-click="closeModal(4)">back</button>
        </ion-header-bar>
        <ion-content ng-class="{expanded:isExpanded}">
          <div class="content has-header">
            <div class="list animate-fade-slide-in-right">
              <div class="tabs tabs-dark tabs-icon-top static">
              <a ng-click="openModal(6)" class="tab-item">
                <i class="icon ion-android-add" ></i> Member
              </a>
                <a ng-click="displayMap()" class="tab-item">
                  <i class="icon ion-location"></i> View Map
                </a>
                </div>
              <div>
              <input placeholder="add member email" id="addM" type="email" style="margin-left:20% ; border-color: blue"> </input>
              <button id="b" class="button icon-left ion-star button-positive "ng-click="addMembers2()"></button>
              </div>
             <table border="10" ng-show="false">
                <tr id="eventName" ng-repeat=" x  in GroupMembs | orderBy :'email' ">
                  <td><br/>
                    <h2>{{x.email}}</h2>
                  </td>
                </tr>
              </table>
            </div>
              </div>
        </ion-content>
      </ion-modal-view>
    </script>






<script id="my-modal5.html" type="text/ng-template">
  <ion-view id="map" >
    <ion-header-bar class="bar-assertive">
      <h1 class="title">Map</h1>
      <button class="button button-dark button-stable" ng-click="closeModal(5)">back</button>
    </ion-header-bar>
    <div id="ggmap" data-tap-disabled="true"></div>
    <div id="dvPanel">
      <span class=" ion-share " id="close"
            style="display: none ; font-size: large ;color: rgba(6, 111, 18, 0.85)"></span>
    </div>
  </ion-view>

</script>

   <script id="my-modal6.html" type="text/ng-template">
    <ion-modal-view id="mem" >
      <ion-header-bar class="bar-assertive">
        <h1 class="title">members</h1>
        <button class="button button-dark button-stable" ng-click="closeModal(6)">back</button>
      </ion-header-bar>
      <ion-content ng-class="{expanded:$scope.isExpanded}">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="search" ng-model="search">
      </label>
        <label class=" item item-input">


        </label>


    </ion-modal-view>

    </script>



</ion-content>
</ion-view>
